html {
    width: 100%;
    --margin-top-bottom: 150px;
    margin: var(--margin-top-bottom) auto;
    height: calc(100% - 2 * var(--margin-top-bottom));
    cursor: none;
}

*:hover {
    cursor: none;
}

.finger {
    position: absolute;
    width: 200px;
    transform: rotate(20deg);
    z-index: 999;
}

@media only screen and (max-height: 1070px) {
    html {
        --margin-top-bottom: 35px;
    }

    .box {
        width: 90% !important;
    }
}

:root {
    --background-color: #b8cfdf;
    --text-color: #000000;
    --primary-color: #1e92ea;
    --secondary-color: #89a0f4;
    --accent-color: #4655ee;
}

body {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    /* background: linear-gradient(to right, #bc1862, #a65a1c, #c7a23c); */
    background: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto 0;
    width: 65%;
}

h1 {
    text-align: left;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 8em;
    text-transform: uppercase;
    /* transform: scaleY(0.5); */
    /* line-height: 0; */
}

.subheading {
    font-weight: normal;
    font-size: 1.75em;
}

.heading-pair {
    margin: 25px 0;
}

.heading-pair>* {
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a::before {
    content: "";
    height: 50%;
    width: 100%;
    display: block;
    z-index: -5;
    opacity: 30%;
    position: absolute;
    transition: all .3s ease;
    background: linear-gradient(180deg, transparent 50%, var(--accent-color) 50%);
}

a:hover::before {
    height: 200%;
}

a.active {
    /* font-weight: bold; */
}

a.active::before {
    height: 200%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* height: 100%; */
}

.left {
    width: 100%;
    max-height: 100%;
}

.content-pair {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

:root {
    --phone-width: 350px;
    --phone-height: 696px;
}

.content {
    height: var(--phone-height);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    word-wrap: break-word;
    gap: 1em;
}

.phone {
    width: var(--phone-width);
    height: var(--phone-height);
    background-repeat: no-repeat;
    background-size: var(--phone-width) var(--phone-height);
    background-image: url("./iphone-black-screen-png-56-4035616577\(1\).png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--phone-width) / 5);
}

.phone>a {
    font-size: 30px;
}

.box {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
}

@media only screen and (max-width: 1080px) {
    body {
        width: 90%;
        grid-template-columns: 1fr;
    }
}